/* PHASE 7: Online */
.profile-picture{
    overflow: hidden;

}


.online {
    position: absolute;
    top: 10px;
    left: -27px;

    transform: rotate(-45deg);
    color: white;
    font-weight: bold;
    font-size: 12px;

    background: #228B22;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    padding: 5px 25px;
}
