/* Start reset here... */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* reset here... */

h1 {
    padding: 30px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;

}

.towers-of-hanoi{
    display: flex;
    justify-content: center;
}

.tower{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    border-bottom: 10px solid black;
    height: 200px;
    width: 200px;
    align-items: center;
    /* justify-content: space-between; */
}

.tower:hover{
    border-bottom: 5px solid blue;
}

.selected{
    border-bottom: 5px solid red;

}

.tower li {
    border: 1px solid black;
    border-radius: 20px;
    background: gray;
    padding: 5px;
    height: 30px;
    margin: 10px 0px;
}

.layer0{
    width: 120px;

}


.layer1{
    width: 85px;
}

.layer2{
    width: 45px;
}

.tower li.layerwon {
    background-color: green;

}
